@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-ExtraLight.eot');
  src: url('../fonts/Niramit-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-ExtraLight.woff2') format('woff2'),
  url('../fonts/Niramit-ExtraLight.woff') format('woff'),
  url('../fonts/Niramit-ExtraLight.ttf') format('truetype'),
  url('../fonts/Niramit-ExtraLight.svg#Niramit-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-ExtraLightItalic.eot');
  src: url('../fonts/Niramit-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/Niramit-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Niramit-ExtraLightItalic.ttf') format('truetype'),
  url('../fonts/Niramit-ExtraLightItalic.svg#Niramit-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-Light.eot');
  src: url('../fonts/Niramit-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-Light.woff2') format('woff2'),
  url('../fonts/Niramit-Light.woff') format('woff'),
  url('../fonts/Niramit-Light.ttf') format('truetype'),
  url('../fonts/Niramit-Light.svg#Niramit-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-LightItalic.eot');
  src: url('../fonts/Niramit-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-LightItalic.woff2') format('woff2'),
  url('../fonts/Niramit-LightItalic.woff') format('woff'),
  url('../fonts/Niramit-LightItalic.ttf') format('truetype'),
  url('../fonts/Niramit-LightItalic.svg#Niramit-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-Regular.eot');
  src: url('../fonts/Niramit-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-Regular.woff2') format('woff2'),
  url('../fonts/Niramit-Regular.woff') format('woff'),
  url('../fonts/Niramit-Regular.ttf') format('truetype'),
  url('../fonts/Niramit-Regular.svg#Niramit-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-Italic.eot');
  src: url('../fonts/Niramit-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-Italic.woff2') format('woff2'),
  url('../fonts/Niramit-Italic.woff') format('woff'),
  url('../fonts/Niramit-Italic.ttf') format('truetype'),
  url('../fonts/Niramit-Italic.svg#Niramit-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-Medium.eot');
  src: url('../fonts/Niramit-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-Medium.woff2') format('woff2'),
  url('../fonts/Niramit-Medium.woff') format('woff'),
  url('../fonts/Niramit-Medium.ttf') format('truetype'),
  url('../fonts/Niramit-Medium.svg#Niramit-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-MediumItalic.eot');
  src: url('../fonts/Niramit-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-MediumItalic.woff2') format('woff2'),
  url('../fonts/Niramit-MediumItalic.woff') format('woff'),
  url('../fonts/Niramit-MediumItalic.ttf') format('truetype'),
  url('../fonts/Niramit-MediumItalic.svg#Niramit-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-SemiBold.eot');
  src: url('../fonts/Niramit-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-SemiBold.woff2') format('woff2'),
  url('../fonts/Niramit-SemiBold.woff') format('woff'),
  url('../fonts/Niramit-SemiBold.ttf') format('truetype'),
  url('../fonts/Niramit-SemiBold.svg#Niramit-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-SemiBoldItalic.eot');
  src: url('../fonts/Niramit-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Niramit-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Niramit-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/Niramit-SemiBoldItalic.svg#Niramit-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-Bold.eot');
  src: url('../fonts/Niramit-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-Bold.woff2') format('woff2'),
  url('../fonts/Niramit-Bold.woff') format('woff'),
  url('../fonts/Niramit-Bold.ttf') format('truetype'),
  url('../fonts/Niramit-Bold.svg#Niramit-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Niramit';
  src: url('../fonts/Niramit-BoldItalic.eot');
  src: url('../fonts/Niramit-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Niramit-BoldItalic.woff2') format('woff2'),
  url('../fonts/Niramit-BoldItalic.woff') format('woff'),
  url('../fonts/Niramit-BoldItalic.ttf') format('truetype'),
  url('../fonts/Niramit-BoldItalic.svg#Niramit-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
