.social-login {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  .title {
    line-height: 20px;
  }

  .social-group {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .social-icon {
      cursor: pointer;

      & + .social-icon {
        margin-left: 12px;
      }
    }
  }
}
