.register-complete-page {
  .col-content {
    padding: 60px 0;
    height: 602px;
  }

  .description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 20px;
  }

  .policy-link {
    color: #6B7AFF;
  }
}
